<body>
  <form action="http://mycompany.com" method="POST">
    <table align="left" style="border-spacing: 15px" width="100%">
      <tbody>
      
        <tr>
          <td style="text-align: right" width="12%">First Name:</td>
          <td width="18%">
            <input style="width:100%" type="text" name="firstname">
          </td>
          <td width="35%"></td>
          <td width="35%"></td>
        </tr>
        
        <tr>
          <td style="text-align: right">Last Name:</td>
          <td>
            <input style="width: 100%" type="text" name="lastname">
          </td>
        </tr>
        
        <tr>
          <td style="text-align: right">Email:</td>
          <td>
            <input style="width: 100%" type="text" name="email">
          </td>
        </tr>
        
        <tr>
          <td style="text-align: right">Type of License:</td>
          <td>
            <input type="radio" name="answer" value="BUSINESS" checked>Business
            <input type="radio" name="answer" value="PERSONAL">Personal</td>
        </tr>
        <tr>
          <td style="text-align: right">Reason:</td>
          <td>
            <select style="width: 100%" name="Options">
              <option value="SelectaReason">1. Select a Reason</option>
              <option value="SoftwareSupport">2. Software Support</option>
              <option value="HardwareSupport">3. Hardware Support</option>
              <option value="InformationRequest">4. Information Request</option>
            </select>
          </td>
        </tr>
        <tr>
          <td style="text-align: right; vertical-align: top">Additional Information:</td>
          <td>
            <textarea style="width: 100%; height: 75px" name="additionalinformation"></textarea>
          </td>
        </tr>
        <tr>
          <td style="text-align: right"></td>
          <td>
            <input type="checkbox" name="readtermsofservice">I have read the terms of service.</td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: right">
            <input style="width: 78%" bgcolor="grey" type="submit" value="Send Request" >
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</body>
