body {
	margin: 0px:
	padding: 0px;
	height:100%;
}
.header {
	padding: 0px;
	text-align: center;
}
h1 {
	text-align: center;
	font-family: 'Lato' , sans-serif;
}
h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}
nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 4px;
}
ul {
	margin-left: 5%;
}
div.jumbotron {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 50px;
	padding-top: 50px;
}
.content {
	background-color: #AFEEEE;
}
div.centered {
	text-align: center;
}
.homeTable {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 50px;
	border-spacing: 15px;
	border-collapse: separate;
}
.menuTable {
	width: 96%;
	border-spacing: 10px;
	padding-bottom: 0px;
	margin-top: 25px;
}
.menuTable tr {
	text-align: center;
}
.menuTable th {
	text-align: center;
	font-size: 20px;
}
.beveragesTable {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
.beveragesTable th {
	text-decoration: underline;
	font-size: 20px;
}
.beveragesTable td, th {
	vertical-align: bottom;
	text-align: left;
	padding: 5px 15px 5px 10px;
}
div.tablealign {
	text-align: left;
}
.formtable {
	border-spacing: 5px;
	width: 73%;
	padding-top: 35px;
	margin: 25px 0px 94px 0px;
	
}
.formtable th {
	 width= 49%;
	 text-align: right;
	 font-size: 20px;
	 vertical-align: top;
}
.td1 {
	width: 1%;
}
.td2 {
	width: 50%;
}
.inputwidth45 {
	width: 45%;
}
textarea {
	width:45%; 
	height:75px;
}
.td3 {
	text-align: center; 
	padding-right: 155px;
}
.buttoncolor {
	background-color: lightgrey;
}
.formContent {
	background-color: #D0D5EB;
}
#footer {
	width: 100%;
	height: 50px;
	border-top: 1px solid black;
}
.footerTable {
	border-spacing: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 20px;
}
.footerTable td {
	text-align: center;
}

a:link {
}

a:visited {
	color: #551A8B;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}