table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.albumTitle {
	font-size: 23px;
	font-family: 'Anton' , Sans-Serif;
}

.bandnameLink {
	font-size: 18px; 
	padding-bottom: 3px
}

.releaseDate {
	padding-bottom: 0px
}

.firstLine {
	width: 95%;
	margin: 1;
	margin-bottom: 15px;"
}
#tableAlbum tr{
	text-align: center;
}

.membersProducers {
	font-family: 'Anton' , Sans-Serif;
	font-size: 20px; 
	text-align: center; 
	margin: 0
}

#tableNames {
	width: 80%;
	border-collapse: collapse;
}

#tableTracks {
	width: 80%;
	padding: 5px;
	border: 1px solid #000;
	border-collapse: collapse;
	margin-bottom: 40px;
}	

#tableTracks td {			
	padding: 5px;
	border: 1px solid #000;
	text-align: center;
	background-color: #ffea7b;
	font-style: italic;
}
th {
	border: 1px solid #000;
	border-bottom: 2px solid #000; 
	background-color: #BDBDBD;
	text-align: center;
	padding: 5px;
}
	
ul {
	margin-bottom: 0px; 
	margin-top: 12px
}
li {
	font-style: italic;
}
.caption {
	font-weight: bold;
	font-size: 20px; 
	text-align: center; 
	margin-top: 0px; 
	margin-bottom: 10px;
}

a {

}

a:link {

}

a:visited {

}

a:hover{
	text-decoration: underline;
	background-color: #ffea7b;

}

a:active {

}