body {
	margin: 0px:
	padding: 0px;
	height:100%;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
#header {
	padding: 0px;
}
#content {
	padding-bottom: 50px;
	background-color: #AFEEEE;
}
#footer {
	width: 100%;
	height: 25px;
}
h1 {
	text-align: center;
	font-family: 'Lato' , sans-serif;
}
#headerbotline {
	width: 100%;
	margin-bottom: 0px;
}
#footertopline {
	width :100%;
	margin-top: 0px;
}
#headerTable {
	border-spacing: 15px;
}
#headerTable td {
	padding-left: 25px;
}
#footerTable {
	border-spacing: 10px;
	margin-left: auto;
	margin-right: auto;
}
#footerTable td {
	text-align: center;
}
#beveragesTable {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	
}
#beveragesTable th {
	text-decoration: underline;
	font-size: 20px;
}

#beveragesTable td, th {
	vertical-align: bottom;
	text-align: left;
	padding: 5px 15px 5px 10px;
}

a:link {
}

a:visited {
	color: #551A8B;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}